header, .sobreMi, .portfolio, .conocimientos, .contacto {
  padding-bottom: 16px;
  padding-top: 16px;
}

.conocimientos #progresion .grafica .progress .htmlCss, .conocimientos #progresion .grafica .progress .javaPy, .conocimientos #progresion .grafica .progress .js, .conocimientos #progresion .grafica .progress .php, .conocimientos #progresion .grafica .progress .android, .conocimientos #progresion .grafica .progress .github {
  box-shadow: 0 10px 40px -10px white;
  border-radius: 100px;
  background: red;
  height: 15px;
  width: 0;
}

.parallax1, .parallax2, .parallax3, .parallax4 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 300px;
  box-sizing: border-box;
}

header, .sobreMi, .contacto, footer {
  display: flex;
  flex-direction: column;
}

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  background-color: #4f5b62;
}

header {
  background-color: #4f5b62;
  justify-content: space-around;
  height: 100vh;
  border-top: 1px solid red;
  border-bottom: 1px solid red;
}

@media (min-width: 650px) {
  header {
    display: flex;
    flex-direction: column;
  }
  header h1 {
    font-size: 3.5rem;
  }
  header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  header nav ul .enlaceMenu {
    width: 100%;
  }
  header nav ul .enlaceMenu:hover {
    border-radius: 30px;
    color: #ffffff;
    background-color: black;
  }
}

header .logo {
  border-radius: 100%;
  align-self: center;
  width: 10rem;
  height: 10rem;
  margin: 5px;
}

@media (min-width: 850px) {
  header .logo {
    width: 14rem;
    height: 14rem;
  }
}

@media (min-width: 1100px) {
  header .logo {
    width: 19rem;
    height: 19rem;
  }
}

header h1 {
  font-size: 2.4rem;
  text-align: center;
  margin: 5px;
  padding: 5px;
  animation-name: miAnimacion;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  text-shadow: 0.1em 0.1em 0.05em #333;
}

@media (min-width: 850px) {
  header h1 {
    font-size: 4rem;
  }
}

header nav {
  margin: 2px;
  padding: 2px;
}

header nav ul {
  text-align: center;
  margin: 2px;
  padding: 2px;
  margin-bottom: 15px;
}

header nav ul .enlaceMenu {
  text-decoration: none;
}

header nav ul .enlaceMenu li {
  color: #ffffff;
  list-style: none;
  border-radius: 30px;
  margin: 5px;
  padding: 7px;
  font-size: 1.4rem;
  background-color: red;
  border: 1px solid white;
}

header nav ul .enlaceMenu li:hover {
  background-color: black;
  border-radius: 30px;
}

@media (min-width: 860px) {
  header nav ul .enlaceMenu li {
    font-size: 2rem;
  }
}

@keyframes miAnimacion {
  from {
    color: white;
  }
  to {
    color: red;
  }
}

#sticky {
  position: fixed;
  bottom: 50px;
  padding: 20px;
  height: 25px;
  display: flex;
}

#flecha {
  color: black;
  height: 40px;
  filter: invert(200%);
}

main {
  background-color: #4f5b62;
}

.parallax1 {
  background-image: url(../img/parallax1.jpg);
}

@media (min-width: 650px) {
  .parallax1 {
    height: 600px;
    background-attachment: fixed;
  }
}

@media (min-width: 850px) {
  .parallax1 {
    height: 750px;
  }
}

.sobreMi {
  border-bottom: 1px solid red;
  border-top: 1px solid red;
  align-items: center;
  height: min-content;
  justify-content: space-around;
}

.sobreMi h2 {
  text-align: center;
  font-size: 3rem;
  margin: 5px;
  color: #ffffff;
  text-shadow: black 0.1em 0.1em 0.2em;
}

@media (min-width: 1200px) {
  .sobreMi h2 {
    font-size: 4rem;
  }
}

.sobreMi img {
  border-radius: 100px;
  width: 9rem;
  height: 9rem;
}

@media (min-width: 850px) {
  .sobreMi img {
    width: 12rem;
    height: 12rem;
  }
}

@media (min-width: 1000px) {
  .sobreMi img {
    width: 13rem;
    height: 13rem;
  }
}

.sobreMi .nombre {
  font-size: 4rem;
  color: #ffffff;
  margin: 5px;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.sobreMi .info {
  display: flex;
  column-gap: 15px;
}

.sobreMi .info div {
  border: 1px solid white;
  background-color: red;
  border-radius: 20px;
  box-shadow: 1px 1px 5px 3px black;
  margin: 15px;
  padding: 6px;
  text-align: center;
  *padding: 2px;
  font-size: 1rem;
}

@media (min-width: 1200px) {
  .sobreMi .info div {
    font-size: 2rem;
    margin: 55px;
  }
}

.sobreMi p {
  text-align: center;
  color: #ffffff;
  font-size: 1.2rem;
}

@media (min-width: 1200px) {
  .sobreMi p {
    font-size: 2rem;
  }
}

.sobreMi .cv {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 10px;
  text-decoration: none;
  align-self: center;
  text-align: center;
  font-size: 2rem;
  color: #ffffff;
  padding: 8px;
  margin: 2px;
  box-shadow: black 0.1em 0.1em 0.2em;
}

.sobreMi .cv:hover {
  background-color: red;
  border: 1px solid white;
  box-shadow: black 0.1em 0.1em 0.2em;
  animation: iconosMoviles 1.5s forwards;
}

@media (min-width: 1200px) {
  .sobreMi .cv {
    font-size: 2.5rem;
  }
}

.parallax2 {
  background-image: url(../img/parallax2.jpg);
}

@media (min-width: 650px) {
  .parallax2 {
    height: 600px;
    background-attachment: fixed;
  }
}

@media (min-width: 850px) {
  .parallax2 {
    height: 750px;
  }
}

.portfolio {
  border-bottom: 1px solid red;
  border-top: 1px solid red;
}

.portfolio h2 {
  text-align: center;
  font-size: 3rem;
  color: #ffffff;
  text-shadow: black 0.1em 0.1em 0.2em;
  margin: 5px;
}

@media (min-width: 1200px) {
  .portfolio h2 {
    font-size: 4rem;
  }
}

.portfolio #proyectos {
  color: #ffffff;
  text-align: center;
  padding: 10px;
  *margin: 5px;
}

@media (min-width: 650px) {
  .portfolio #proyectos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-self: center;
    margin: 2px;
    padding: 2px;
    column-gap: 10px;
    row-gap: 13px;
    padding-bottom: 10px;
  }
}

@media (min-width: 750px) {
  .portfolio #proyectos {
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 10px;
  }
}

.portfolio #proyectos .proyecto {
  border-radius: 40px;
  overflow: hidden;
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.portfolio #proyectos .proyecto:hover {
  box-shadow: 3px 3px 10px 4px white;
  transition-duration: 3s;
}

.portfolio #proyectos .proyecto .asignaturaTitulo {
  display: grid;
  grid-template-columns: 40% 60%;
  background-color: #da5858;
  color: #ffffff;
  align-items: center;
  justify-items: center;
  border: 1px solid red;
}

.portfolio #proyectos .proyecto .asignaturaTitulo img {
  width: 20%;
  *filter: invert(200%);
}

@media (min-width: 1450px) {
  .portfolio #proyectos .proyecto .asignaturaTitulo img {
    width: 17%;
    margin: 0px;
    padding: 0px;
  }
}

.portfolio #proyectos .proyecto .asignaturaTitulo h4 {
  margin: 5px;
  padding: 5px;
  color: black;
}

.portfolio #proyectos .proyecto .cuerpo {
  padding: 5px;
  height: 80%;
  border: 1px solid red;
  background-color: #486374;
}

.portfolio #proyectos .proyecto .cuerpo p {
  text-align: center;
  margin: 3px;
  padding: 3px;
  color: #ffffff;
  font-size: 1.3rem;
}

@media (min-width: 650px) {
  .portfolio #proyectos .proyecto .cuerpo p {
    font-size: 1.1rem;
  }
}

@media (min-width: 1200px) {
  .portfolio #proyectos .proyecto .cuerpo p {
    font-size: 1.6rem;
  }
}

.portfolio #proyectos .proyecto .cuerpo img {
  margin: 5px;
  padding: 5px;
  width: 200px;
  height: 200px;
}

.portfolio #proyectos .proyecto .cuerpo img:hover {
  animation: imgRotate 1.5s forwards;
}

.portfolio #proyectos .proyecto .cuerpo img:hover:hover {
  border-radius: 15%;
  box-shadow: 0px 0px 7px 7px #da5858;
}

.portfolio #proyectos .proyecto .enlaceGit {
  color: #ffffff;
  background-color: #da5858;
  border: 1px solid red;
}

.portfolio #proyectos .proyecto .enlaceGit img {
  margin: 2px;
}

.parallax3 {
  background-image: url(../img/parallax3.jpg);
}

@media (min-width: 650px) {
  .parallax3 {
    height: 600px;
    background-attachment: fixed;
  }
}

@media (min-width: 850px) {
  .parallax3 {
    height: 750px;
  }
}

.conocimientos {
  border-bottom: 1px solid red;
  border-top: 1px solid red;
}

@media (min-width: 650px) {
  .conocimientos {
    height: min-content;
  }
}

@media (min-width: 850px) {
  .conocimientos {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.conocimientos h2 {
  text-align: center;
  font-size: 2.8rem;
  margin: 1px;
  color: #ffffff;
  text-shadow: black 0.1em 0.1em 0.2em;
}

@media (min-width: 650px) {
  .conocimientos h2 {
    margin: 10px;
  }
}

@media (min-width: 1200px) {
  .conocimientos h2 {
    font-size: 4rem;
  }
}

.conocimientos #progresion {
  color: #ffffff;
  justify-content: center;
  padding: 5px;
  margin: 5px;
  display: flex;
  align-content: center;
  flex-flow: column;
}

.conocimientos #progresion label {
  text-shadow: black 0.1em 0.1em 0.2em;
  font-size: 1.3rem;
}

.conocimientos #progresion .grafica {
  display: grid;
  grid-template-columns: 25% 60% 15%;
  column-gap: 5px;
  justify-items: center;
  margin: 5px;
}

.conocimientos #progresion .grafica .progress {
  background: white;
  justify-items: flex-start;
  border-radius: 100px;
  display: flex;
  align-items: center;
  position: relative;
  height: 15px;
  width: 100%;
}

.conocimientos #progresion .grafica .progress .htmlCss {
  animation: load 3s normal forwards;
}

.conocimientos #progresion .grafica .progress .javaPy {
  animation: load2 3s normal forwards;
}

.conocimientos #progresion .grafica .progress .js {
  animation: load3 3s normal forwards;
}

.conocimientos #progresion .grafica .progress .php {
  animation: load4 3s normal forwards;
}

.conocimientos #progresion .grafica .progress .android {
  animation: load5 3s normal forwards;
}

.conocimientos #progresion .grafica .progress .github {
  animation: load6 3s normal forwards;
}

@keyframes load {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}

@keyframes load2 {
  0% {
    width: 0;
  }
  100% {
    width: 70%;
  }
}

@keyframes load3 {
  0% {
    width: 0;
  }
  100% {
    width: 60%;
  }
}

@keyframes load4 {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}

@keyframes load5 {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}

@keyframes load6 {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.parallax4 {
  background-image: url(../img/parallax4.jpg);
}

@media (min-width: 650px) {
  .parallax4 {
    height: 600px;
    background-attachment: fixed;
  }
}

@media (min-width: 850px) {
  .parallax4 {
    height: 750px;
  }
}

.contacto {
  color: #ffffff;
  text-align: center;
  border-top: 1px solid red;
  border-bottom: 1px solid red;
}

.contacto h2 {
  text-align: center;
  font-size: 3rem;
  margin: 0px;
  text-shadow: black 0.1em 0.1em 0.2em;
}

@media (min-width: 1200px) {
  .contacto {
    font-size: 4rem;
  }
}

.contacto .iconosContacto {
  margin: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (min-width: 1200px) {
  .contacto .iconosContacto {
    flex-direction: row;
  }
}

.contacto .iconosContacto .icono {
  margin: 5px;
  padding: 5px;
  font-size: 1.3rem;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.contacto .iconosContacto .icono:hover {
  animation-name: miAnimacion;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}

@media (min-width: 650px) {
  .contacto .iconosContacto .icono {
    font-size: 1.8rem;
  }
}

.contacto .iconosContacto .material-icons {
  margin: 5px;
  padding: 5px;
}

.contacto img {
  filter: invert(200%);
  height: 50px;
  width: 50px;
  margin: 10px;
}

.contacto img:hover {
  animation: iconosMoviles 1.5s forwards;
}

@keyframes iconosMoviles {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

footer {
  background-color: #4f5b62;
  color: #ffffff;
  height: 15vh;
  justify-content: space-around;
}

footer h4 {
  animation-name: miAnimacion;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  font-size: 1.5rem;
  text-align: center;
  align-self: center;
  text-shadow: 0.1em 0.1em 0.05em #333;
  margin: 2px;
}

@media (min-width: 650px) {
  footer h4 {
    font-size: 2rem;
  }
}
